body {
    background-image: url("https://files.slack.com/files-pri/T8MK7JWQK-FA9UT3Y49/image.png");
     background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

a {
    text-align: center;
    font-family: 'Fontdiner Swanky';
    font-size: 40px;
    color: white;
    /* margin: 50px; */
    /* background-color: steelblue; */
}