body {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/004/317/219/large/dean-mamnev-waterjak-ii.jpg?1482356733');
     background-size: 100%;
    background-repeat: no-repeat;
}

body {
    text-align: center;
}